.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.justify-between{
    justify-content: space-between;
}
.items-center{
    align-items: center;
}
.flex-col{
    flex-direction: column;
}
.capitalize{
    text-transform: capitalize
}
.space-x-sm{
    padding-left: var(--sm);
    padding-right: var(--sm);
}
.space-x-md{
    padding-left: var(--md);
    padding-right: var(--md);
}
.space-x-lg{
    padding-left: var(--lg);
    padding-right: var(--lg);
}
.space-x-xl{
    padding-left: var(--xl);
    padding-right: var(--xl);
}
.space-x-2xl{
    padding-left: var(--2xl);
    padding-right: var(--2xl);
}
.btn{
 border: 1px solid transparent;
  padding: 12px 16px;
  border-radius: 4px;
  font-weight: 300;
  font-size: 0.95rem;
  text-transform: capitalize;
  max-width: 15rem;
  transition: all 0.3s ease-in;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 1px;
}
.btn-border{
    border: 1px solid var(--primary-color);
    background-color: transparent;
    color: var(--primary-color)
}
.btn-primary{
    background-color: var(--primary-color);
    color: white
}
.btn-dribble{
    background-color: var(--dribble-color);
    color: white;
    
}
.sec-title>span{
   font-size: 1rem;
   color: var(--heading-color);
   font-weight: 600;
   text-transform: capitalize;
}
.sec-title>h1{
    font-size: 3.5rem;
    color: var(--heading-color);
    font-weight: 700;
    line-height: 1.3;
    text-transform: capitalize;
    margin: 1rem 0;
 }
 .sec-title>h2{
    font-size: 3rem;
    color: var(--heading-color);
    font-weight: 700;
    text-transform: capitalize;
    margin: 1rem 0;
 }
 
 .po-feedback-card{
    border: 1px solid #006B6A;
    border-radius: 8px;
    padding: 2rem;
 }
 .po-feedback-card>*:last-child{
   gap: 8px;
 }

 .po-feedback-card>*:nth-child(2){
  margin: 2rem 0;
  }

  .po-feedback-card>*:nth-child(2)>p{
line-height: 1.5;
  }
  .po-person__name p{
    font-weight: bold;
    font-size: 1.2rem;
    text-transform: capitalize;
    margin: 0.5rem 0;
  }
  