html {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: var(--font-size);
    color: var(--body-color);
    scroll-behavior: smooth;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--body-color);
    text-transform: capitalize;
}

.po-sec {
    padding-left: var(--2xl);
    padding-right: var(--2xl);
    margin-top: var(--3xl);
}

figure {
    margin: 0;
}