.po-home-sec>* {
  width: 50%;
}

.po-home-sec h1>span {
  color: var(--primary-color);
}

.po-home-sec p {
  max-width: 75%;
  line-height: 1.5;
}

.po-home-sec button {
  margin-top: var(--lg);
}

.po-expertise-sec{
  flex-direction: column;
}

.po-expertise-sec>div:first-child{
align-self: self-start;
}
.po-skills-container {
  gap: 2rem;
  margin-top: var(--4xl);
}

.po-about-sec>* {
  width: 50%;
}

.po-about-sec .po-text-container>p {
  line-height: 1.5;
}
.po-skill__title>h3{
font-size: 1.3rem;
text-transform: capitalize;
}
.po-cont{
  padding: 12px;
}
.po-cont h3{
  font-size: 2rem;
  font-weight: bold;
  text-transform: capitalize;
}
.po-cont p {
  line-height: 1.5;
  font-weight: 500;
  color: var(--body-color);
}
.btn-dribble>svg{
  margin-right: 12px;
}
.po-testimonial__container{
  gap: 2rem;
} 
.po-testimonial__title{
  margin-bottom: 6rem;
}
.po-contact-form>*{
margin-top: 2rem;
gap: 2rem;
}
.po-contact-form label{
  gap: 0.5rem 0;
}
.po-footer__nav > ul > li:not(.po-footer__nav > ul > li:first-child){
  margin-left: 2rem;

}