@import "./normalize.css";
@import "./global.css";
@import "./framework.css";
@import "./header.css";
@import "./sections.css";
:root{
  --primary-color: #5E3BEE;
  --body-color: #1C1E53;
  --heading-color: #282938;
  --font-size: 14px;
  --sm: 8px;
  --md: 12px;
  --lg: 24px;
  --xl: 36px;
  --3xl: 56px;
}

html{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: var(--font-size);
  color: var(--body-color);
}
